services:
  meilisearch:
    image: getmeili/meilisearch:${MEILI_VERSION:-latest}
    container_name: meilisearch
    restart: unless-stopped
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_ENV: development
      MEILI_HTTP_ADDR: 0.0.0.0:7700
      MEILI_EXPERIMENTAL_REDUCE_INDEXING_MEMORY_USAGE: true
      MEILI_MAX_INDEXING_MEMORY: 0
      MEILI_MAX_INDEXING_THREADS: 1
    volumes:
      - ./meili_data:/meili_data
    ports:
      - "0.0.0.0:7700:7700"
    networks:
      - meilisearch-network

  tika:
    image: apache/tika:latest
    container_name: tika
    restart: unless-stopped
    ports:
      - "127.0.0.1:9998:9998"
    networks:
      - meilisearch-network

  indexer:
    build: ./scripts
    container_name: indexer
    restart: unless-stopped
    environment:
      MEILI_URL: "http://meilisearch:7700"
      MEILI_API_KEY: ${MEILI_MASTER_KEY}
      TIKA_URL: "http://tika:9998/tika"
      CLEANUP: ${CLEANUP:-false}
    volumes:
      - ${MD_FILES}:/data/md_files
      - ${AUDIO_FILES}:/data/audio_files
    depends_on:
      - meilisearch
      - tika
    networks:
      - meilisearch-network

  web:
    image: nginx:alpine
    container_name: search-ui
    restart: unless-stopped
    volumes:
      - ./web:/usr/share/nginx/html:ro
    ports:
      - "0.0.0.0:8080:80"
    networks:
      - meilisearch-network

networks:
  meilisearch-network:
    driver: bridge
