services:
  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    restart: unless-stopped
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_ENV: development
      MEILI_HTTP_ADDR: 0.0.0.0:7700
    volumes:
      - ./meili_data:/meili_data
    ports:
      - "0.0.0.0:7700:7700"
    networks:
      - meilisearch-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700/health"]
      interval: 5s
      timeout: 5s
      retries: 10

  tika:
    image: apache/tika:latest
    container_name: tika
    restart: unless-stopped
    ports:
      - "127.0.0.1:9998:9998"
    networks:
      - meilisearch-network

  indexer:
    build: ./scripts
    container_name: indexer
    restart: unless-stopped
    environment:
      MEILI_URL: "http://meilisearch:7700"
      MEILI_API_KEY: ${MEILI_MASTER_KEY}
      TIKA_URL: "http://tika:9998/tika"
    volumes:
      - ${MD_FILES}:/data/md_files
      - ${AUDIO_FILES}:/data/audio_files
    depends_on:
      meilisearch:
        condition: service_healthy
      tika:
        condition: service_started
    networks:
      - meilisearch-network

networks:
  meilisearch-network:
    driver: bridge
